:root {
  --text-secondary-color: #2e2f42;
  --text-main-color: #434455;
  --text-white-color: #ffffff;
  --text-footer-color: #f4f4fd;
  --text-logo-blue-color: #4d5ae5;
  --text-logo-ligt-color: #f4f4fd;
  --text-logo-dark-color: #2e2f42;
  --text-hover-link-blue: #404bbf;
  --text-button-color: #4d5ae5;
  --text-button-white-color: #ffffff;

  --bg-color: #ffffff;
  --bg-dark-color: #2e2f42;
  --bg-ligt-grey-color: #f4f4fd;

  --bg-btn-hero: #4d5ae5;
  --bg-btn-hover: #404bbf;

  --bg-btn-filtres: #f4f4fd;
  --bg-btn-hover-filtres: #404bbf;

  --border-color-filtres-btn: #e7e9fc;
}

/* Common stules */

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-main-color);
  background-color: var(--bg-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.btn {
  font-family: inherit;
  cursor: pointer;
}

/* Logo */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-logo-blue-color);
}

.logo-header {
  color: var(--text-logo-dark-color);
}

.logo-footer {
  color: var(--text-logo-ligt-color);
}

/* Section-title */

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--text-secondary-color);
}

/* Header */

.header-nav-link {
  color: var(--text-secondary-color);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--text-hover-link-blue);
}

.header-address {
  font-style: normal;
}

.header-address-link {
  font-weight: 400;
  color: var(--text-main-color);
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--text-hover-link-blue);
}

/* Main */

/* Hero section */

.hero {
  background-color: var(--bg-dark-color);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-white-color);
}

.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--text-white-color);
  background-color: var(--bg-btn-hero);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--bg-btn-hover);
}

/* Features section */

.features-title {
  letter-spacing: 0.02em;
}

.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-secondary-color);
}

.features-text {
  font-weight: 400;
  letter-spacing: 0.02em;
}

/* What are we doing section */

/* Our Team section */

.team {
  background-color: var(--bg-ligt-grey-color);
}

.team-item {
  background-color: var(--bg-color);
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--text-secondary-color);
}

.team-text {
  font-weight: 400;
}

/* Footer section */

.footer {
  background-color: var(--bg-dark-color);
}

.footer-text {
  font-weight: 400;
  color: var(--text-footer-color);
}

/* Portfolio */

.portfolio-title {
  letter-spacing: 0.02em;
}

.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--text-button-color);
  background-color: var(--bg-btn-filtres);
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--text-button-white-color);
  background-color: var(--bg-btn-hover-filtres);
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-secondary-color);
}

.portfolio-text {
  font-weight: 400;
  color: var(--text-main-color);
}
